/* Reset general */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face{font-family: titulo;src: url("../views/fonts/BebasNeue-Regular.ttf");}
@font-face {font-family: subtitulo;src: url("../views/fonts/RobotoCondensed-VariableFont_wght.ttf");}


body {
    background-color: #00001a;
    color: #ddd;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0 .1);
    z-index: 10;
}

.logo img {
    position: relative;
    top: 0;
    height: 100px;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #dde8f0;
    cursor: pointer;
    display: none;
}

#check { display: none; }

/* Navbar */

.navbar a {
    color: #00c3ff;
    font-size: 1.2rem;
    font-family: subtitulo;
    font-weight: 700;
    margin-left: 2.5rem;
    transition: color 0.3s;
}

.navbar a:hover { color: #ddd; text-decoration: underline; }

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    color: #fff;
    padding: 14px 20px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    transition: transform 300ms ease-in-out;
}

.menu ul li a:hover{
    transform: scale(1.1);
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #121f8f;
    min-width: 160px;
    text-align: left;
    padding: 0;
}

.submenu li {
    display: block;
}

.submenu li a {
    color: white;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #575757;
}


.container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.header {
    position: relative;
    
}

.movie-title img {
    width: 300px;
    height: auto;
    position: absolute;
    top: 2%;
    left: 33%;
}

.trailer-container iframe {
    width: 100%;
    height: 500px;
    border: none;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.movie-image img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    border-radius: 15px;
}

.info {
    width: 100%;
    max-width: 1000px;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 20px; 
}

.left-info {
    width: 60%; 
    position: absolute;
    top: 14%;
    left: 35.4%;
}

.right-info {
    width: 100%;
    max-width: 400px; 
    position: absolute;
    top: 80%;
    left: 35.4%;
}

.left-info ul {
    margin-top: 2rem;
    padding: 0;
}

.left-info li {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.year-duration {
    display: inline-flex;
    gap: 15px; 
    font-size: 16px;
}

.year-duration strong{
    padding: .3rem 1rem;
    background-color: #00c3ff;
    border-radius: 20px;
}

.right-info p {
    margin-bottom: 10px;
}

.description {
    margin-top: 2rem;
    width: 67%;
    position: absolute;
    top: 18%;
    left: 30%;
}

.description p {
    margin: 0 2rem;
    font-size: 16px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0259bd;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.back-button:hover {
    background-color: #0c4999;
}



/* Footer */
footer {
    background-color: #101010;
    padding: 1rem;
    color: aliceblue;
    text-align: center;
    margin-top: 40px;
}

footer h2 {
    margin-top: .5rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.footer-logo {
    flex: 1;
}

.footer-logo img {
    width: 150px;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
    flex: 2;
    gap: 50px;
    flex-direction: row;
}

.footer-list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-list .footer-item a {
    color: #fff;
}

.footer-list h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}

.footer-list p {
    font-size: 1.1rem;
    margin-top: .5rem;
}

.footer-list.social {
    align-items: center;
    gap: 10px;
}

.footer-items {
    display: flex; 
    gap: 20px; 
    justify-content: center;
    align-items: center;
}

.footer-items a {
    color: #ffffff;
    font-size: 2rem;
    transition: transform 0.3s;
}

.footer-items a:hover {
    transform: scale(1.1);
    color: #00c3ff; 
}

/* Media Queries */
@media (max-width: 1120px) {
    .header {
        padding: 1.3rem 5%;
    }

    .navbar a {
        font-size: .8rem;
        margin: 0 1.5rem;
    }

    .footer-container {
        max-width: 80%;
    }

    .footer-logo {
        width: 50px;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
        margin: 0 1rem;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
        overflow: hidden;
        transition: .3s ease;
        z-index: 3;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: -3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-lists {
        flex-direction: column;
        gap: 20px;
    }

    .footer-list {
        text-align: center;
    }

    .footer-logo{
        margin-right: 6rem;
    }
}
